* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Lato:ital,wght@0,700;1,300;1,900&display=swap');


/* font-family: 'Kumbh Sans', sans-serif;

font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;600;900&family=Great+Vibes&family=Indie+Flower&family=PT+Sans:wght@400;700&family=Roboto+Mono:ital,wght@0,100;0,300;0,600;1,700&family=Vampiro+One&display=swap');
/* 
font-family: 'Exo 2', sans-serif;

font-family: 'Great Vibes', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'PT Sans', sans-serif;

font-family: 'Roboto Mono', monospace;

font-family: 'Vampiro One', cursive; */